#texts{

    margin-left: 1200px;
color: wheat;
}
#icon{
   margin-left: 1200px;
   
   color: white;
}
#icons{
    margin-left: 1200px;
    color: white;
}
#wite{
    margin-left: 1200px;
    color: white;
}
.bg{
    background-color: rgb(5, 5, 27);
}
#the{
margin-top: 100px;
padding-top: 50px;
}