#texts{
    padding-left:1200px;


}
#icon{
    padding-left:1200px;
}
#icons{
padding-left:1200px;
background-color: black;
border: 20px;


}
#wite{
    padding-left:1200px;
}
.blck{
    background-color: rgb(3, 3, 22) ;
}
